<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue技术学习 v-for </title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="root">
        <h1>1.数组增删</h1>
        <h2>push--数组尾部添加 pop--数组尾部删除 shift--数组首部删除 unshift--数组首部添加</h2>
        <span>数组：</span>
        <li v-for="item, index in listArrayOne">
            {{item}} -- {{index}}
        </li>
        <br>
        <button @click="handleAddButClick()">添加</button>
        <button @click="handleDeleteLastButClick()">尾部删除</button>
        <button @click="handleDeleteFirstButClick()">首部删除</button>
        <br>
        <span> 对象：</span>
        <template v-for="(item, key, index) in listObject" :key="index">
            <div v-if="key !== 'lastName' ">
                {{item}} -- {{key}} -- {{index}}
            </div>
        </template>

        <h1>2.替换整个数组</h1>
        <span>数组：</span>
        <li v-for="item, index in listArrayTwo">
            {{item}} -- {{index}}
        </li>
        <button @click="handleChangeArray()">改变数组</button>

        <h1>3.更新部门数组</h1>
        <span>数组：</span>
        <li v-for="item, index in listArrayThree">
            {{item}} -- {{index}}
        </li>
        <button @click="handleUpdateArray()">改变数组</button>

    </div>

</body>
<script>
    const app = Vue.createApp({

        data() {
            return {
                listArrayOne: ['dell1', 'lee1', 'teacher1'],
                listArrayTwo: ['dell2', 'lee2', 'teacher2'],
                listArrayThree: ['dell3', 'lee3', 'teacher3'],
                listObject: {
                    firstName: 'dell',
                    lastName: 'lee',
                    job: 'teacher'
                }
            }
        },
        methods: {
            handleAddButClick() {
                // 在数组最后面添加
                this.listArrayOne.push('hello')
            },
            handleDeleteLastButClick() {
                // 从后面删除
                this.listArrayOne.pop()
            },
            handleDeleteFirstButClick() {
                // 从后面删除
                this.listArrayOne.shift()
            },
            handleChangeArray() {
                // 替换数组内容
                this.listArrayTwo = ['tutu', 'QQ']
            },
            handleUpdateArray() {
                // 更新数组内容
                this.listArrayThree[0] = 'todo3'
            }
        },

    }).mount('#root')
</script>

</html>