<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue技术学习 v-for </title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="root">
        <h1>变更函数</h1>
        <h2>push--数组尾部添加 pop--数组尾部删除 shift--数组首部删除 unshift--数组首部添加</h2>
        <span>数组：</span>
        <li v-for="item, index in listArray">
            {{item}} -- {{index}}
        </li>
        <br>
        <button @click="handleAddButClick()">添加</button>
        <button @click="handleDeleteLastButClick()">尾部删除</button>
        <button @click="handleDeleteFirstButClick()">首部删除</button>
        <br>
        <span> 对象：</span>
        <li v-for="(item, key, index) in listObject">
            {{item}} -- {{key}} -- {{index}}
        </li>

    </div>

</body>
<script>
    const app = Vue.createApp({

        data() {
            return {
                listArray: ['dell', 'lee', 'teacher'],
                listObject: {
                    firstName: 'dell',
                    lastName: 'lee',
                    job: 'teacher'
                }
            }
        },
        methods: {
            handleAddButClick() {
                // 在数组最后面添加
                this.listArray.push('hello')
            },
            handleDeleteLastButClick() {
                // 从后面删除
                this.listArray.pop()
            },
            handleDeleteFirstButClick() {
                // 从后面删除
                this.listArray.shift()
            }
        },

    }).mount('#root')
</script>

</html>